<form method="POST" action="/cart">
  <button class="btn btn-outline-success float-right" type="submit">
    Add To Cart
  </button>
  <input type="hidden" name="productId" value="<%= product.id %>" />
</form>
