
<form method="POST" action="/wishlist" style="margin-left: 15px;">
  <div class="row">
    <div class="col-xs-4"><a href="/products/<%= product.id %>" class="btn btn-info">Details</a></div>
    <% if (isAuthenticated) { %>
    <div class="col-xs-4" style="margin-left: 7px;"><button class="btn btn-outline-danger" type="submit">
      <i class="fas fa-heart"></i>
      </button></div>
      <% } %>
  </div>
  
  <input type="hidden" name="productId" value="<%= product.id %>" />
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

</form>

