<!-- Footer  Starts-->
<footer
  class="page-footer font-small unique-color-dark"
  style="background-color: #1c2331;     color: #939c9f;"
>
  <div style="background-color: #6351ce;">
    <div class="container">
      <!-- Grid row -->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color: white;">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right" style="color: white;">
          <!-- Facebook -->
          <a class="fb-ic"> <i class="fab fa-facebook-f white-text mr-4"> </i> </a>
          <!-- Twitter -->
          <a class="tw-ic"> <i class="fab fa-twitter white-text mr-4"> </i> </a>
          <!-- Google + -->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!-- Linkedin -->
          <a class="li-ic"> <i class="fab fa-linkedin-in white-text mr-4"> </i> </a>
          <!-- Instagram -->
          <a class="ins-ic"> <i class="fab fa-instagram white-text"> </i> </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5" style="color: white;">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <a class="navbar-brand" style="font-size: 27px" href="/"
          ><span style="color:yellow"><strong>Oued</strong></span
          ><span style="color:aqua">Kniss</span></a
        >
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          The use of this website needs the acceptation of Global conditions and
          the reglementation concerning the respect of private life .
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white; text-decoration: none;">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><a style="color: white;" href="#!">Legal informations</a></p>
        <p><a style="color: white;" href="#!">Cars Forum</a></p>
        <p><a style="color: white;" href="#!">Autobip.com</a></p>
        <p><a style="color: white;" href="#!">Version française</a></p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: white; text-decoration: none;">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><a style="color: white;" href="#!">Ouedkniss Stores</a></p>
        <p><a style="color: white;" href="#!">Ads on Ouedkniss</a></p>
        <p><a style="color: white;" href="#!">How to post a listing ?</a></p>
        <p><a style="color: white;" href="#!">Help</a></p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><i class="fa fa-home mr-3"></i> Algeria,  DZ</p>
        <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fa fa-phone mr-3"></i> +213696257362</p>
        <p><i class="fa fa-print mr-3"></i> +213696257362</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a style="color: white;" href="/"> OuedKniss.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer Ends-->
