<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
aria-controls="collapseExample">
Categories
</a>

<div class="col-lg-3">
<div class="collapse" id="collapseExample">
        <ul class="nav flex-column">
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-mobile-alt"></i> Phones</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-car"></i> Vhicles</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-home"></i> Real estate</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-camera"></i> Electronics </button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-user-md"></i> Jobs</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-desktop"></i> Computers & Accessories</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-tshirt"></i> Beauty & Fashion</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-toolbox"></i> Services</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-plane"></i> Travel</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-chair"></i> Home & Fournitures</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-hiking"></i> Hobbies & Entertainment</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-cog"></i> Materials & Equipment</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left  dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-gift"></i> Various</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropright">
            <button class=" btn  btn-light btn-block text-left  dropdown-toggle" href="#" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" style=" color: black;"><i class="fas fa-store-alt"></i> Stores</button>
            <div class="dropdown-menu shadow">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>



        </div>
      </div> -->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>