<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
    <main><h1>No Orders To Be Found</h1></main>
    </div>
    <%- include('../includes/footer.ejs') %> 

    <%- include('../includes/end.ejs') %>